*{
	box-sizing: border-box;
}


.color-white{
	background-color: white;
}

.color-black{
	background-color: black;

}



.btn{
	border:5px solid black;
	width: 200px;
	margin: 0;
	height: 200px;
}
.btn-green{
	background-color: green;
}
.btn-red{
	background-color: red;
}

.container{
	border :5px solid orange;
	font-size: 0;
	display: block;
	width: 410px;
	margin: 0 auto;
}

